<form action="<%= path %>" method="<%= method %>">
	<input type="hidden" 
		name="authenticity_token" 
		value="<%= form_authenticity_token %>" 
		id="authenticity_token">

	<label for="Email Address">Email Address</label>
	<input type="text" name="email" value="" id="Email Address">
	<label for="Password">Password</label>
	<input type="password" name="password" value="" id="Password">
	<br>	
	
	<% if path == users_path %>
	<label for="Confirm Password">Confirm Password</label>
	<input type="password" name="Confirm Password" value="" id="Confirm Password">
	<br>
	<%end%>
	
	<input type="submit" name="submit" 
		value="<%= path == users_path ? 'Sign Up' : 'Log In' %> " 
		id="submit" class='btn btn-primary'>
</form>