<ul class='nav nav-tabs nav-stacked'>
	<li>
		<a href="#">Public Profile</a>
	</li>
	<li>
		<a href="#">Settings</a>
	</li>
	<li>
		<a href="#">Emails</a>
	</li>
	<li>
		<a href="#">Feeds</a>
	</li>
	<li>
		<a href="#">Apps</a>
	</li>
	<li>
		<a href="#">Widgets</a>
	</li>
	<li>
		<a href="#">Buy</a>
	</li>
</ul>
