<div class="media">
	<a href="#" class='pull-left'>
		<img src='<%= book.cover_image %>' class='media-object' style='height:64px'>
	</a>
	<div class="media-body">
		<h5 class='media-heading'>
			<a href="<%= book_path(book)%>">
				<%= book.title %>
			</a>
		</h5>
	</div><!-- .media-body -->
</div><!-- .media -->
