<div class="media">
	<a href="#" class='pull-left'>
		<img src='<%= book.cover_image %>' class='media-object' style='height:64px'>
	</a>
	<div class="media-body">
		<h5 class='media-heading'><%= book.title %></h5>
		<% if @current_user.tagged_book_ids.include?(book.id) %>
		<%= button_to "Read", :class => "btn"%>
		<%else%>
		<%= button_to "Want to Read"%>
		<%end%>		
	</div><!-- .media-body -->
</div><!-- .media -->
