<h2>Add Your Book to the Database</h2>

<%= form_for @book do |form| %>

	<label for="Title">Title</label>
	<input type="text" name="book[title]" value="" id="Title">
	
	<label for="ISBN Number">ISBN Number</label>
	<input type="text" name="book[isbn]" value="" id="ISBN Number">
	
	<label for='author_input'>Author</label>
	<input type="text" name="book[authors_attributes][1][name]" value="" id="author_input">
	
	<label for='synopsis'>Synopsis</label>
	<textarea name="book[synopsis]" rows="3" columns='50' id='synopsis'></textarea><br>

	<br>
	<label>Upload a Cover Photo...</label>
	<%= form.file_field :cover_photo %>
	<br>
	<label for="Cover_image">Or Give us a Image Link</label>
	<input type="text" name="book[cover_image]" value="" id="Cover_image">
	<br>
	<input type="submit" name="submit" value="Create Book" id="submit">
<%end%>