<form>
	<% ['read', 'currently-reading', 'to-read'].forEach(function (name) {  %>
		<% if (tag.name == 'name') { %>
			<input type='radio' value="<%= name %>" name='name' selected><%= name %></option>
		<%} else { %>
			<input type='radio' value="<%= name %>" name='name'><%= name %></option>
		<% } %>
	<% }); %><br>
	<input type="submit" name="submit" value="submit" id="submit">
</form>