<form>
	<% ['read', 'currently-reading', 'to-read', 'delete'].forEach(function (name) {  %>
		<% if (tag.escape('name') == name) { %>
			
			<input type='radio' value="<%= name %>" name='name' checked><%= name %></option>
		<%} else { %>
			<input type='radio' value="<%= name %>" name='name'><%= name %></option>
		<% } %>
	<% }); %><br>
	<input type="submit" name="submit" value="submit" id="submitTag">
</form>