<ul class='nav nav-pills nav-stacked'>
	<li>
		<a href="#/">All</a>
	</li>
	<li>
		<a href="#/shelf/read">Read</a>
	</li>
	<li>
		<a href="#/shelf/currently-reading">Currently-Reading</a>
	</li>
	<li>
		<a href="#/shelf/to-read">To-Read</a>
	</li>
</ul>