
	<% if (tag) { %>
		<span class="label label-info btn btn-info" id='edit'><%= tag.escape('name') %></span>
	<%} else { %>
		<span class="label label-info btn btn-info" id='create'>Want to Read?</span>
	<% } %>


