<h3><%= @current_user.name.capitalize %>'s Books</h3>
<hr />
<div class="row-fluid">
	<div class="span8">
		<h4>Explore the Latest Books</h4>
		<%= render @books %>
	</div><!-- .span8 -->
	<div class="span4">
		<h4>DashBoard</h4>
	</div><!-- .span4 -->
</div><!-- .row-fluid -->