<h3>Your Friend Feed</h3>
<hr />
<div class="row-fluid">
	<div class="span8" id='friend_feed'>
	</div><!-- .span8 -->
	<div class="span4">
		<h5>Your Stats Dashboard</h5>
		<hr />
		<div class="row-fluid">
			<div class="span6 well well-small" style='text-align:center'>
				<h5>Total Books Read:</h5><br>
				<div id='total-read'></div>
			</div>
			<div class="span6 well well-small" style='text-align:center'>
				<h5 >Books To Read:</h5><br>
				<div id='to-read'></div>
			</div>
		</div>
		<hr />
		<h5>Currently Reading</h5>
		<div id='currently-reading'></div>
		<hr />
		<h5>My Profile</h5>
			<a href="#">
				<%= @current_user.name %>'s Profile
			</a><br>
			<a href="#">
				<%= @current_user.friends.length %> friends
			</a>
	</div><!-- .span4 -->
</div><!-- .row-fluid -->

<script type="text/javascript" charset="utf-8">
$(function () {
	Readingapp.initialize(); 
	var taggings = new Readingapp.Collections.Taggings(); 
	var feed = new Readingapp.Collections.Feeds(); 
		
	var runStatsDashboard = function () {
		new Readingapp.Routers.TaggingsStats({
			collection: taggings, 
			currentlyReading: $('#currently-reading'),
			totalRead: $('#total-read'), 
			toRead: $('#to-read')
		});
	}
	
	var runFriendFeed = function () {
		new Readingapp.Routers.Feeds({
			collection: feed, 
			rootElement: $('#friend_feed') 
		}); 
	}
	
	// Execute anon function when both fetches for taggings, feed are successful 
	$.when(taggings.fetch(), feed.fetch()).then(function () {
		runStatsDashboard(); 
		runFriendFeed(); 
		Backbone.history.start(); 
	})	 
	
}); 
</script>