<h3>Your Friend Feed</h3>
<hr />
<div class="row-fluid">
	<div class="span8 well well-small" id='friend_feed'>
	</div><!-- .span8 -->
	<div class="span4" id='dashboard'>
		<h5>Your Stats Dashboard</h5>
		<hr />
		<div class="row-fluid">
			<div class="span6 well well-small" style='text-align:center'>
				<h5>Total Books Read:</h5><br>
				<div id='total-read'></div>
			</div>
			<div class="span6 well well-small" style='text-align:center'>
				<h5 >Books To Read:</h5><br>
				<div id='to-read'></div>
			</div>
		</div>
		<hr />
		<h5>What You Are Currently Reading</h5>
		<div id='currently-reading'></div>
		<hr />
		<h5>My Profile</h5>
		<ul>
			<li>
				<a href="#/account">
					<%= @current_user.name %>'s Profile
				</a>
			</li>
			<li>
				<a href="#/friends">
					<%= @current_user.friends.length %> friends
				</a>				
			</li>
			<li>
				<a href="/users/<%= @current_user.id %>">
					<%= @current_user.name %>'s Public Profile
				</a>
			</li>
		</ul>
	</div><!-- .span4 -->
</div><!-- .row-fluid -->

<script type="text/javascript" charset="utf-8">
$(function () {
	
	Readingapp.initialize(); 
	var taggings = new Readingapp.Collections.Taggings(); 
	var feed = new Readingapp.Collections.Feeds(); 
	var friends = new Readingapp.Collections.Friends(); 
	
	// Execute anon function when both fetches for taggings, feed are successful 
	$.when(taggings.fetch(), feed.fetch(), friends.fetch()).then(function () {
		new Readingapp.Routers.Feeds({
			tagcollection: taggings,
			feedcollection: feed, 
			friendcollection: friends,
			rootElement: $('#friend_feed') ,
			currentlyReading: $('#currently-reading'),
			totalRead: $('#total-read'), 
			toRead: $('#to-read')
		}); 
		
		Backbone.history.start(); 
	})	 
	
}); 
</script>