
<div class="hero-unit">
	<h1 id="find_your_favorite_book">Find Your Favorite Book</h1>
	<br>	
	<h3>PerfectPerusals Will Find It For You</h3>
	<a href="<%= new_user_path %>" class='btn btn-primary btn-large'>Sign Up</a>
	<a href="<%= login_path %>" class='btn btn-primary btn-large'>Log In</a>
</div><!-- .hero-unit -->

<div class="row-fluid">
	<div class="span6">
		<h3>Add Books</h3>
		<ul>
			<li>Do this</li>
			<li>Do that</li>
			<li>Do More</li>
		</ul>
	</div><!-- .span6 -->
	<div class="span6">
		<h3>Manage Books</h3>
		<ul>
			<li>Find Friends</li>
			<li>Get their recommendations</li>
			<li>Read their books</li>
		</ul>
	</div><!-- .span6 -->
</div><!-- .row-fluid -->