
<div class="hero-unit">
	<h1 id="find_your_favorite_book">Find Your Favorite Book</h1>
	<br>	
	<h3>PerfectPerusals Will Find It For You</h3>
	<a href="<%= new_user_path %>" class='btn btn-primary btn-large'>Sign Up</a>
	<a href="<%= login_path %>" class='btn btn-primary btn-large'>Log In</a>
</div><!-- .hero-unit -->

<div class="well well-small">
	<p class='lead'>
		To try a demo login with: 
		"demo@example.com"
		password: pass
	</p>
</div><!-- .well well-small -->

<div class="row-fluid">
	<div class="span6">
		<h3>Add Books</h3>
		<ul>
			<li>Search our database of books</li>
			<li>Rate books.</li>
			<li>Write your own reviews of books</li>
			<li>Enjoy!</li>
		</ul>
	</div><!-- .span6 -->
	<div class="span6">
		<h3>Manage Books</h3>
		<ul>
			<li>Find Friends</li>
			<li>Get their recommendations</li>
			<li>Read their books</li>
		</ul>
	</div><!-- .span6 -->
</div><!-- .row-fluid -->

