<div class="navbar">
	<div class="navbar-inner">
		<a href="#" class='brand'>PerfectPerusals</a>
		<ul class='nav'>
			<li class='active'><a href="#">Home</a></li>
			<li><a href="#">Stuff</a></li>
			<li><a href="#">Stuff</a></li>
			<li><a href="#">Stuff</a></li>
		</ul>
	</div><!-- .navbar-inner -->
</div>